#parentContainer {
    background-color : lightgreen;
    display : flex;
    flex-direction : column;
    width: 50%;
    margin: auto;
}

#lowerButton {
    width: 50%;
    margin: auto;
}

.parentContainerSHARE {
    background-color : lightgreen;
    display : flex;
    flex-direction : column;
    width: 50%;
    margin: auto;
}

.child {
    background-color : lightblue;
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
}

#createForm {
    background-color: brown;
}

#editForm {
    display: none;
    background-color: gold;
}
